

.login {
    color: black;
}

.tablita {
    margin-top: 250px;
    font-size: 15px;
    text-align: center;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: grey;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.tabla1 {
    width: 100%;
    border-collapse: collapse;
}

.iniciar {
    color: azure;
}
  
h1 {
    text-align: center;
    border-bottom-style: ridge;
}

th, td {
    
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

a {
    margin-right: 5px;
}

.create1 {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: #c3b9b9;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

